[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/json"]
	path = extlib/json
	url = https://github.com/nlohmann/json
[submodule "extlib/robin-hood-hashing"]
	path = extlib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "extlib/ips4o"]
	path = extlib/ips4o
	url = https://github.com/ips4o/ips4o
